<!DOCTYPE html>
@{
    var currentPage = ViewContext.RouteData.Values["page"] as string;
}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <meta charset="utf-8" />
    <title>Flower — минималистичный магазин</title>
    <link rel="icon" href="~/img/icon.svg" type="image/x-icon" />
</head>
<body>
    <header class="container-header">
        <h1 class="container-header__text-logo">Flower & Shop</h1>
        <nav class="container-header__nav">
            <ul>
                <li><a asp-page="/Home" class="@(currentPage == "/Home" ? "active" : "")">Главная</a></li>
                <li><a asp-page="/PageHeader/About" class="@(currentPage == "/PageHeader/About" ? "active" : "")">О Нас</a></li>
                <li><a asp-page="/PageHeader/Bouquets" class="@(currentPage == "/PageHeader/Bouquets" ? "active" : "")">Букеты</a></li>
                <li><a asp-page="/PageHeader/Contacts" class="@(currentPage == "/PageHeader/Contacts" ? "active" : "")">Контакты</a></li>
                <li><a asp-page="/Account/Profile" class="@(currentPage == "/Account/Profile" ? "active" : "")">Профиль</a></li>
            </ul>
        </nav>
     </header>
    <main class="container-main">
        @RenderBody()
    </main>
</body>
</html>
