@page
@model FlowerShop.Web.Pages.PageHeader.BouquetsModel

<div class="content">
    <p class="content__main">Наши прекрасные букеты</p>
    <p class="content__description">Каждый букет, созданный вручную с любовью, рассказывает уникальную историю</p>
</div>
<div class="bouquet-container">
    @if (Model.GetBouquets?.Count > 0)
    {
        var culture = new System.Globalization.CultureInfo("ru-RU");
        foreach (var (bouquet, idx) in Model.GetBouquets.Select((b, i) => (b, i)))
        {
            <div class="bouquet-card bouquet-card__@idx">
                <img src="@Url.Content(bouquet.ImagePath)" alt="@bouquet.Name" loading="lazy" />
                <div class="bouquet-card__description">
                    <h2 class="bouquet-card__title">@bouquet.Name</h2>
                    <p class="bouquet-card__text">@bouquet.Description</p>
                    <p class="bouquet-card__price">@bouquet.Price.ToString("C", culture)</p>
                </div>

                <form method="post" asp-page-handler="AddToCart" class="bouquet-card__actions">
                    <input type="hidden" name="bouquetId" value="@bouquet.Id" />
                    <input type="hidden" name="qty" value="1" />
                    <button class="btn" type="submit" aria-label="Добавить букет «@bouquet.Id»">
                        Добавить букет
                    </button>
                </form>
            </div>
        }
    }
    else
    {
        <p class="bouquet-empty">В данный момент букетов нету, возращайся чуть позже</p>
    }
</div>
